body{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;

}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');


/*   HEADER   */

section{
  display: flex;
  
}



.Contenedor_1{
  background-color: rgba(0, 0, 0, 0.979);
  width: 50%;
  height: 87.8vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  

}

.Contenedor_Foto{
  background-image: linear-gradient(135deg, #10102c82, rgb(19, 32, 48)), url(./Components/Componente_Presentacion/Imagenes/IMG_20221107_161842_253.jpg);
  width: 50%;
  height: 87.8vh;
  background-position: top;
  background-size:cover;
  background-repeat: no-repeat;
  

  
}

.Contenedor-Logo{
  width: 90%;
}

.Logo{
  display:flex;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
}


.tituloObjetivo{
  font-weight: bolder;
  border-bottom: 2px solid #000000;
  font-family: 'Rubik', sans-serif;
}

.navbar{
  background-color: rgba(0, 0, 0, 0.979)!important;
}

.dark{
  background-color: rgba(0, 0, 0, 0.979)!important;
}

.light {
  
  background-color: rgba(255, 255, 255, 0.979)!important;
}
 
.ImagenesPresentacion {
  width: 50px !important;
  height: 50px !important;
  margin: 5px;
}

.ImagenInicio {
  width: 20px !important;
  height: 20px !important;
  margin: 5px;
}

.ImagenSobreMi {
  width: 20px !important;
  height: 20px !important;
  margin: 5px;
}

.ImagenSkill {
  width: 20px !important;
  height: 20px !important;
  margin: 5px;
}

.ImagenProyectos {
  width: 20px !important;
  height: 20px !important;
  margin: 5px;
}

.ImagenContacto {
  width: 20px !important;
  height: 20px !important;
  margin: 5px;
}

.Contenido_nav {

  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.Contenido_nav h5 {
  width: 100%;
  height: 15px;
  margin: 5px;
  font-size: 1.3rem;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}

.Contenido_nav p {
  width: 100%;
  height: 10px;
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
}



.nav-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}







.nav-menu li {
  position: relative;
  display: inline-block;
  text-decoration: none;
  margin: 1rem;
}

.nav-menu a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

}

/* clip-path: polygon(0 0, 52% 0, 100% 0, 100% 100%, 92% 89%, 84% 100%, 59% 100%, 51% 89%, 43% 100%, 16% 100%, 8% 89%, 0 100%); */

.nav-menu button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: monospace;
  outline: none;
  background-color: transparent;
  color: #646363;
  font-size: 1.2rem;
  width: 100%;
  height: 50px;
  border:2px solid rgba(179, 179, 179, 0.815);
  padding: 0.5rem;
  font-weight: bolder;
  border-radius: 10px;

}

.nav-menu button:hover {
  border-radius: 10px;
  background-color: #159cdf2d;

}

.ImagenSpotiVideo {
  width: 550px;
  height: 400px;
  border-radius: 15px;
  margin-bottom: 5px;
  box-shadow: 2px 2px 10px #000000f6;
  background-color: transparent;

}

.navbar .logo {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 50%;
}

.navbar img {
  width: 4rem;
  height: 4rem;


}

/*   HEADER   */


/* Presentacion */






.Parrafo-Presentacion {
  margin-top: 20px;
  color: #f8f8f8;
  font-size: 2rem;
  display: block;


}

.Descripcion_Proyectos{
  font-family: 'Rubik', sans-serif;

}

.Titulo_Bienvenida {
  display: block;
  white-space: nowrap;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
  color: #33b7c3;
  
  border-radius: 10px;
  padding:5px;
}

.Titulo_Bienvenida_2 {
  display: block;
  white-space: nowrap;
  font-size: 3rem;
  font-family: monospace;
  color: #ffffff;
}

.Titulo_Bienvenida_3 {
  display: block;
  white-space: nowrap;
  font-size: 3rem;
  font-family: monospace;
  color: #533483;
}
.Titulo_Bienvenida_4 {
  font-family: fantasy, sans-serif;
  white-space: nowrap;
  font-size: 4rem;
  color: #ffffff;
  padding:5px;
  font-family: 'Rubik', sans-serif;
  
  border-radius: 10px;
}

.Contenedor_Subrayado {
  width: 36.5%;

}

.Subrayado_TituloBienvenida {
  border-bottom: 3px solid #000000;
  display: flex;
  justify-content: center;
  width: 8rem;
}

.barra {
  width: 50%;
  margin: auto;
  height: 32px;
  border: 2px solid #ffffff
}

.Componente_Presentacion_1 {

  width: 50%;
  height: 100vh;
  background-image: url('../src/Components/Componente_Presentacion/Imagenes/undraw_color_palette_re_dwy7.svg');
  background-repeat: no-repeat;
}



.Contenido-Presentacion {
  height: 450px;
}




h5 {
  font-family: cursive;
  font-size: 1.2rem;
}

.Titulos {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.Parrafo-Presentacion_2 {
  color: #e4dada;
  font-size: 1.5rem;
  font-family: monospace;
  display: block;



}

video {
  object-fit:cover;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.Contenido_Componente_1 {
  background-color: rgba(255, 255, 255, 0.516);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  padding:0;
  height: 500px;
  border-radius: 10px;
  border:2px solid #000000;
}



.Contenedor_Imagen_Nico{
background-color: #000000;
width: 100%;
height: 498px;
display: flex;
justify-content: center;
align-items: center;
align-content: center;
border-radius: 8px;
}

.Imagen_Nico {
  display:flex;
  width: 400px;
  height: 480px;
  padding:10px;
  
  
}



#Animacion_Contacto {
  background-color: #ffffff;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1rem;
}



/* Presentacion */


/*   CLASES COMPONENTES  */



.Componente_1 {
  
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;


}

.Contenedor_Estudios {
  background-color: #ffffff;
  height: 787px;


}









.Componente_2 {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 500px;
  
}

.Contenido_Componente_2 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 50px;
  

}

.linea {
  color: red;
  border: 1.8px solid;
}


.Contenido_Leng{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 130px;
  padding:5px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 10px ;
}




.Proyectos {
  margin-right: 0 !important;

}


.Componente_3 {
  background-color: #ffffff;
  width: 100%;
  height: auto;

}





/*   CLASES COMPONENTES  */



/* Componente 1 */
.Imagen-Present {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;

}

.Imagen {
  width: 430px;
  height: 300px;
}

.Lista_Informacion li {
  font-size: 1.4rem;
  list-style: none;
  font-family: 'Rubik', sans-serif;
  color: #101010;
  


}

.Lista_Botones {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  list-style: none;


}

.Contenido_Proyectos{
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  
}

.Tit-Form {
  font-size: 2.6rem;
  color: rgb(8, 7, 7);
}

.label-Form {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: rgb(8, 7, 7);
}

h1 {
  font-family: 'Alfa Slab One', cursive;
}

.Tit_SobreMi {
  color: rgb(0, 0, 0);
  font-size: 2.6rem;
  


}

.Tit_Footer {
  font-size: 3rem;
  font-weight: bolder;
}


h2 {
  font-family: 'Alfa Slab One', cursive;

}

/* Componente 1 */





/* Componente 2 */

.Contenedor_2 {

  display: flex;
  justify-content: center;
  column-gap: 15px;
}

.Icono-html {
  width: 70px;
  height: 70px;
}



#AnimacionFlecha {
  border-radius: 10px;
  width: 100px;
  height: 100px;
  color: white;
  
}


.Icono-Css3 {
  width: 70px;
  height: 70px;
  
}


.Icono-Js {
  width: 70px;
  height: 70px;
  
}

.Icono-NET {
  border-radius: 15px;
  width: 70px;
  height: 70px;

}

.Icono-SqlServer{
  border-radius: 15px;
  width: 80px;
  height: 80px;
}

.Icono-React {
  width: 70px;
  height: 70px;
  
}



.Icono-GitHub {
  width: 70px;
  height: 70px;
  color: #000000
}

.Icono-Boostrap {
  width: 70px;
  height: 70px;
  color: #2d37b9
}

.Icono-Angular {
  width: 70px;
  height: 70px;
  color: #b92d2d
}




.IconoNodeJs {
  width: 70px;
  height: 70px;
  color: #3be46e;
  background-color: #181818;
  border-radius: 5px;
}

.Contenido_Leng:hover {

  overflow: hidden;
  transform: translate(0px, -10px);
  transition: 0.6s;

}




.parrafo-Leng {
  font-weight: bolder;
  font-size: 1.5rem;
  font-family: monospace;

}




.Titulo_Leng {
  font-size: 1.7rem;
  color: rgb(5, 5, 5);
  border-bottom: 2px solid #090909a0;
}







.card-title {
  font-size: 1rem;
  font-family: monospace;
  color: rgb(0, 0, 0) !important;
 

}



.Imagenes_Proyectos {
  width: 100%;
  height: auto;
  border-radius: 20%;

}

.body-Proyectos {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 1rem;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
  border-radius: 10px;
}

.card {
  background-color: transparent !important;
  border: none !important;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}



/* Componente 2 */



/*   CLASES OBTENIDO DE CADA COMPONENTE  */


/*  Componente Reactivo  */
.Componente-Reactivo {
  background-color: #ffffff;
}

.List {
  list-style: none;
}

.Botones_Estilos {
  background-color: #533483;
  color: rgb(255, 255, 255);
  height: 50px;
  border: 2px solid #000000;
  box-shadow: -5px 5px 7px #000000;
  padding:5px;
  margin: 0px;
  font-weight: bolder;
  border-radius: 10px;


}

.Botones_Estilos:hover {
  background-color: #E94560;

}

.Botones_Estilos_2 {

  font-weight: bold;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  background-color: #533483;
  color:white;
}

.Botones_Estilos_2:hover {
  background-color: #E94560;
  color:rgb(255, 255, 255);
  
}

#Contenido {
  width: 200px;
  height: 200px;
  background-color: #1687f0;
}



/*   FOOTER    */

.Iconos span a {
  text-decoration: none;
}

.Iconos span i {

  border: 1.8px solid #1687f0;
  border-radius: 50%;
  padding: 5px;
  font-size: 1.5rem;
  margin: 4.4px;
  color: rgb(30, 168, 233);
}

.Icono .telefono {
  border-radius: 50%;
  padding: 5px;
  font-size: 2rem;
  margin: 4.4px;
  color: rgb(255, 255, 255);
}

.Iconos h6 {

  font-size: 1rem;
}




.logo_Footer {
  background-color: #fbfdff;
  box-shadow: 5px 5px 5px #00000031;
  border-radius: 50%;

}

.Ventana_Texto {

  width: 100%;
  height: 240px;
}

.Contacto {
  background-color: #ffffff;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  


}

strong {
  color: white;
}



/* ARBOL ACADEMICO */

.Boton_Presentacion {
  background-color: #193f72 !important;
  color: white;
  font-weight: bolder;
}

.Boton_Presentacion i {
  font-size: 1.5rem;
  color: white;

}

.Boton_Contacto {
  background-color: #0d0d0e !important;
  color: white;
  font-weight: bolder;
}

.Boton_Contacto_2 {
  background-color: #0c0c0c !important;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

.Boton_Contacto_2:hover {

  color: rgb(255, 255, 255);

}

.label-Form {
  color: #5c5c5c;

}

.Boton_Educacion {
  background-color: #0f0f0e !important;
  color: white;
  font-weight: bolder;
  
}

.Boton_Educacion_2 {
  background-color: #18130f !important;
  color: white;
  font-weight: bolder;
}

.Boton_Contacto_3 {
  background-color: #040404 !important;
  color: white;
  font-size: 1rem;
  font-family: 'Alfa Slab One', cursive;

}

.Contenedor_Fechas {
  width: 100%;
  color: rgb(0, 0, 0);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  border:2px solid #000000;
  border-radius: 5px 5px 0px 0px;
}

.Enunciado_Fecha {
  color: white;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  background-color: #0b101e;
  border-radius: 0px 0px 0px 0px;
}



.Contenido_Elegirme {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b101e;
  width: 100%;
  height: auto;
  border-radius: 0px 0px 5px 5px;

}

.Elegirme_centrar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-content: center;
  
}

.Texto_Elegirme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 5px;
  width: 100%;
  background-color: #0F3460;
  color:white;
  height: 200px;
  border-radius: 50px;
  font-family: 'Rubik', sans-serif;
}


.Codigo_QR {
  background-color: #f0f1f2;
  height: auto;
  border-radius: 50px;
}

.imagenCodigoQR {
  width: 100%;
  height: auto;
  border-radius: 50%;
}








.Titulo_Educacion {
  color: rgb(14, 13, 13);
  font-size: 3rem;
  font-family: 'Alfa Slab One', cursive;
}




/* ========= ARBOL ACADEMICO ========= */



.Tit-Proyectos {
  font-size: 2rem;
  color: rgb(0, 0, 0);

}

.Contenido-Proyectos {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.Btn_Proyectos {
  background-color: #141313ec;
  color: rgb(248, 247, 247);
  font-weight: bolder;
}

.Btn_Proyectos:hover {
  background-color: #db783fec;
  color: white;
}

.Tit-Footer {
  font-size: 4rem;
  font-weight: bolder;
  color: #ffffff !important;

}



.texto-Proyectos {
  font-family: monospace;
  font-size: 0.7rem;
  color: rgb(233, 90, 24);
  font-weight: bolder;
}

.texto-Lenguajes {
  font-weight: bolder;
}



.Iconos {
  display: flex;
  list-style: none;
  height: 100px;
  
  
  
}

.Lista-Iconos {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.redes-presentacion {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
  justify-content: center;
  align-items: baseline;
  list-style: none;

}

.redes-presentacion a {
  color: white;
  text-decoration: none;


}

.navbar-toggler{
  color:rgb(44, 126, 208)!important;
  font-size: 2rem;
  border:2px solid #3676ba;
  border-radius: 0.25rem;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1em;
  height: 1.1em;
  vertical-align: middle;
  content: "";
  background: 50%/100% 100% no-repeat;
}


.Instagram {
  color: rgb(0, 0, 0);
}

.Facebook {
  color: rgb(0, 0, 0);
}

.Correo {
  color: rgb(0, 0, 0);
}

.Linkedin {
  color: rgb(0, 0, 0);
}




/*   Componentes de los Proyectos    */
.Flechita {
  color: #ffffff;
  width: 1.5rem;
}

.Fondo_Proyecto_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 650px;
  background-color: #ffffff;
  border-radius: 10px;
}

.ImagenCrud{
  cursor: pointer;
  width: 500px;
  height: 380px;
  border-radius: 15px;
  margin-bottom: 5px;
  box-shadow: 2px 2px 10px #000000;
}

.ImagenControlAct{
  cursor: pointer;
  width: 550px;
  height: 380px;
  border-radius: 15px;
  margin-bottom: 5px;
  box-shadow: 2px 2px 10px #000000;
}

.Fondo_Proyecto_Presentacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 650px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;

}

.ImagenSpoti {
  cursor: pointer;
  width: 450px;
  height: 380px;
  border-radius: 15px;
  margin-bottom: 5px;
  box-shadow: 2px 2px 10px #000000;
}



.Icono-html-Proyectos {
  width: 45px;
  height: 45px;
  color: #e0620e;



}



.Icono-Css3-Proyectos {
  width: 45px;
  height: 45px;
  color: #1b7bd4
}

.Icono-Js-Proyectos {
  width: 45px;
  height: 45px;
  color: #f3e62a
}

.Icono-NodeJs-Proyectos {
  width: 45px;
  height: 45px;
  background-color: #000000d9;
  border-radius: 55px;

}


.Icono-React-Proyectos {
  width: 45px;
  height: 45px;
  color: #1bb1d6
}



.Icono-GitHub-Proyectos {
  width: 45px;
  height: 45px;
  color: #000000
}

.Icono-Boostrap-Proyectos {
  width: 45px;
  height: 45px;
  color: #2d37b9
}

.Icono-Angular-Proyectos {
  width: 45px;
  height: 45px;
  color: #b92d2d
}



/* Imagenes Certificados */

a {
  color: white;
}

a:hover {
  text-decoration: none;
}

.enlace_Certificado {
  border: 2px solid #000000;
  text-decoration: none;
  border-radius: 5px;
  background-color: #533483;
  padding: 5px;
  color:rgb(255, 255, 255);

}

.enlace_Certificado:hover {
  background-color: #0b0e12;
  color:white;

}

.enlace_Certificado_Js {
  text-decoration: none;
  border-radius: 5px;
  background-color: #533483;
  padding: 5px;
  border:2px solid rgb(10, 10, 10);

}

.enlace_Certificado_Js:hover {
  color: #ffffff;
  background-color: #0b0e12;

}

.Contenedor_imagenCertificado {

  width: 850px;
  height: 600px;
}

.imagen_Certificado {
  width: 100%;
  height: auto;
}


@media handheld,
screen and (min-width: 599px) and (max-width: 1234px) {

  .Componente_1 {
    width: 100%;
    background-image: none;
  }

  .Componente_2 {
    width: 100%;
  }

  .Contenido_Componente_2 {
    flex-wrap: wrap;
  }

  .Componente_3 {
    width: 100%;
  



  }

  

  .Contacto {

    width: 100%;
    



  }

  #Animacion_Contacto {

    width: 100%;
    



  }

  .Fecha-Autodidacta{
    width: 100px;
    }

  .label-Form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: rgb(8, 7, 7);
  }

  .Lista_Informacion li {
    
    font-size: 1.2rem;
    list-style: none;
    font-family: monospace;
    color: #101010;
    height: auto;
  
  }

  .nav-menu {

    width: 100%;
    height: auto;
    flex-direction: row;
  }


  .navbar {
    width: 100%;
    height: auto;
  }


  

  .Componente_1 {
    width: 100%;
    height: auto;
   
    
  }

  .Contenido_Componente_1 {
    background-color: rgba(255, 255, 255, 0.979);
    
    width: 100%;
    height: auto;
    
  }
  

  .Contenedor_Imagen_Nico{
    
    width: 100%;
    height: auto;
    margin-top: 0px;
    
    }
    
    .Imagen_Nico {
      
      width: 100%;
      height: auto;
    }


  .Fondo_Lenguajes {
    width: 100%;
    
  }

  .ImagenSpoti {
    width: 400px;
    height: 400px;
    border-radius: 15px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 10px #000000;
  }

  .ImagenSpotiVideo {
    width: 450px;
    height: 350px;
    
  
  }
  

  .parrafo-Leng {

    font-size: 1.5rem;

  }


  
  .Contenido_nav {
    width: 50%;

  }

  .Lista_Botones {
    display: grid;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    justify-items: center;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(60px, auto);
    list-style: none;
  }

  .Botones_Estilos {
    background-color: #533483;
    color: rgb(255, 255, 255);
    height: 50px;
    border: 2px solid #000000;
    box-shadow: -5px 5px 7px #000000;
    padding:5px;
    margin: 0px;
    font-weight: bolder;
    border-radius: 10px;
  
  
  }
    
    
  


  .nav-menu button {
    display: flex;

    font-size: 1rem;

  }

  .Contenedor_Estudios {

    width: 100%;
    
  }

  .Componente_Presentacion {
    width: 100%;
  
  }

  .Contenido_Leng{
    width: 150px;
  }


}


@media handheld,
screen and (max-width:599px) {

  
  .label-Form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: rgb(8, 7, 7);
  }
  .Contenido_Leng{
    width: 150px;
  }


  .Componente_Presentacion {
    width: 100%;
    


  }

  .Contenido_Componente_2 {
    flex-wrap: wrap;
  }

  section{
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .Contenedor_1{
    width: 100%;
    height: auto;
  }
  .Contenedor_Foto{
    width: 100%;
    height: 60vh;
  }

  .Contacto {

    width: 100%;
    



  }

  #Animacion_Contacto {

    width: 100%;
    height: 100vh;

  }

  .Contenedor_imagenCertificado {

    width: 100%;
    height: auto;
  }

  .Contenido_nav {
    width: 50%;

  }


  .Fondo_Lenguajes {
    width: 100%;
    height: auto;
  }

  .Componente_3 {

    width: 100%;
    



  }

  .Lista_Informacion li {
    font-size: 1rem;
    list-style: none;
    font-family: monospace;
    color: #101010;
    height: auto;
  
  }


  .imagen_Certificado {
    width: 100%;
    height: auto;
  }

  .enlace_Certificado {
    margin:2px;
    padding: 0px
  }

  

  .enlace_Certificado_Js {
    margin:2px;
    padding:0px;


  }

  .ImagenSpoti {
    width: 100%;
    height: 250px;
    border-radius: 15px;
    margin-bottom: 5px;
    box-shadow: 5px 5px 5px #000000;
  }

  .ImagenSpotiVideo {
    width: 400px;
    height: 300px;
    
  
  }
  

  .Titulo_Educacion {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    padding-top: 1rem;
    font-family: 'Alfa Slab One', cursive;
  }

  .Contenedor_Fechas b {
    font-size: 0.65rem;
    

  }

  .Enunciado_Fecha b {
    font-size: 0.65rem;
    
  }

  #Skills {
    width: 100%;
    height: auto;
  }


  .parrafo-Leng {

    font-size: 1rem;
  }

  .card-title {

    font-size: 1rem;
    color: rgb(0, 0, 0) !important;
    font-weight: bolder;
  }

  .Componente_1 {
    width: 100%;
    height: auto;
    background-image: none;
    
  }

  .Contenido_Componente_1 {
    background-color: rgba(255, 255, 255, 0.516);
    
    width: 100%;
    height: auto;
    
  }
  

  .Contenedor_Imagen_Nico{
    
    width: 100%;
    height: auto;
    margin-top: 0px;
    
    }
    
    .Imagen_Nico {
      
      width: 100%;
      height: auto;
    }

  


  .Contenedor_Estudios {

    width: 100%;
    height: 100vh;
  }

  .Contenedor_Fechas {
    width: 100%;
    height: 200px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    

  }



  #Estudios p {
    font-size: 0.80rem;


  }




  .Enunciado_Fecha {
    width: 100%;
    height: 200px;
    flex-wrap: wrap;
    display:flex;
    flex-direction: column;

  }

  .Contenido_Elegirme {

    width: 100%;
    height: auto;

  }

  .Elegirme_centrar {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 500px;
  }

  .tituloObjetivo{
    font-size: 1.2rem;
    font-weight: bolder;
    border-bottom: 2px solid #000000;
  }

  .Texto_Elegirme {
    
    width: 100%;
    background-color: #0F3460;
    height: auto;
    border-radius: 50px;
    
  }

  .Codigo_QR {
    background-color: #f6fbff;
    width: 200px;
    height: auto;
    border-radius: 50px;
  }

  .nav-menu {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .navbar {
    width: 100%;
    height: auto;
  }


  .Lista_Botones {
    font-size: 0.68rem;
    display: grid;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    justify-items: center;
    grid-gap: 6px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(20px, auto);
    list-style: none;
    

  }

  .Botones_Estilos {
    background-color: #533483;
    color: rgb(255, 255, 255);
    height: 50px;
    border: 2px solid #000000;
    box-shadow: -5px 5px 7px #000000;
    padding:5px;
    margin: 0px;
    font-weight: bolder;
    border-radius: 10px;
  
  
  }

  .Titulo_Bienvenida {
    
    font-size: 1.8rem;
    margin:5px;
  }
  
  .Titulo_Bienvenida_2 {
    
    font-size: 1.5rem;
    margin:5px;
  }

  .Titulo_Bienvenida_3 {
    display: block;
    text-align: center;
    white-space: nowrap;
    font-size: 2.5rem;
    font-family: monospace;
    color: #1960c4;
    margin:5px;
  }
  .Titulo_Bienvenida_4 {
    display:block;
    margin:5px;
   
  }

  .ImagenControlAct{
    cursor: pointer;
    width:  100%;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 10px #000000;
  }

  .ImagenCrud{
    cursor: pointer;
    width:  100%;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 10px #000000;
  }

  .Contenedor-Logo{
    width:100%;
    height: auto;
    display:flex;
    justify-content: center;
  }
  
  .Logo{
   width: 80px;
   height: 80px;
   margin:5px;
  }

}



/* Imagenes Certificados */